@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

:root {
  --primary-color: #2d3142;
  --secondary-color: #4f5d75;
  --accent-color: #d81e5b;
  --accent-hover-color: #d81e5ce7;
  --light-color: whitesmoke;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1:hover,
h3:hover,
li:hover {
  cursor: default;
}

input {
  border: none;
  border-radius: 10px;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--accent-color);
  color: var(--light-color);
  border: 0;
  border-radius: 10px;
  font-size: 1em;
}

.btn:hover {
  background-color: var(--accent-hover-color);
}
